@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lavishly+Yours&display=swap');

/*Font Classes*/
.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.crimson-text-semibold {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
}

.crimson-text-bold {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
}

.crimson-text-regular-italic {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: italic;
}

.crimson-text-semibold-italic {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: italic;
}

.crimson-text-bold-italic {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: italic;
}

.lavishly-yours-regular {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Crimson Text", serif;
}

:is(h1, h2, h3, h4) {
    font-family: "Lavishly Yours", cursive;
}

:is(h5, h6) {
    font-weight: 700;
}

body {
    background-color: #f1e9d2 !important;
}

.card {
    background-color: #edece8 !important;
}

a:link {
    font-weight: 700;
    font-style: italic;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.carousel {
    overflow: hidden;
}

header {
    margin: 1rem;
    top: 1rem !important;
}